<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="../navbar.js"></script>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../slashtechnologo.svg" type="image/x-icon">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="description" content="I am slashtechno. This is my website and blog.">
    <meta name="keywords" content="blog, slashtechno, github, techno, tech"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorem ipsum - slashtechno</title>
</head>
<body>
    <div class="toparea">
        <div class="info">
            <i><h5 class="date">July 10, 2021</h5></i>
            <h1 class="title">Hello, world!</h1>
            <br>
            <div class="bottomarea">
                <h4 class="author">slashtechno</h4>
            </div>
        </div>
    </div>
    <div class="navbar" id="navbar">
      <ul class="navbar_list">
        <!-- <li class="navbar_item"><a href="/index.html"><h2></h2></a></li> -->
        <a href="https://slashtechno.com"><li class="navbar_item"><h2>slashtechno</h2></li></a>
        <ul>
    </div>

    <main>
        <div class="innermain">
            <p>This is a template post.</p>
            <h3></h3>
            <p></p>
            <h3></h3>
            <p></p>
            <h3></h3>
            <h3></h3>
            <p></p>
            <p></p>
        </div>
    </main>
    <footer>Thanks for checking out my website!</h4>
    </footer>
</body>
</html>
